doctype html
html
    head
        title= title
    body
        h1 Личный кабинет участника
        p Баланс: #{balance}
        p Текущая картина: #{currentPainting}
        p Текущая цена: #{currentPrice}
        p Время до конца торгов: #{timeRemaining}

        button Поставить ставку
        button Сделать предложение
